@model BigSchool.ViewModels.CoursesViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
    var attendings = (IEnumerable<BigSchool.Models.Attendance>)ViewBag.Attendings;
}

<h1>The Big School</h1>

<div class="row">

    <ul class="course">
        @foreach (var course in Model.UpcomingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {

                            <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow">Follow</button>
                        }
                    </span>
                    -
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        int check = 0;
                        foreach (var item in attendings)
                        {
                            if (course.Id == item.CourseId && User.Identity.GetUserId() == item.AttendeeId)
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Going</button>
                                check = 1;
                                break;
                            }
                        }
                        if (check == 0)
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                        }
                    }
                </div>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Sth failed!");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Sth failed!");
                        });
                });
            });
        </script>
    }
</div>

